@page "/producs"
@inject IProducsData data;
@inject ICategoryProductsService CategoryProductsService
@inject IDialogService DialogService;
@inject ISnackbar Snackbar
@inject IValidator<BackEndPizza.Models.Tables.Producs> validator
<PageTitle>Producs</PageTitle>
<div>
    <MudButton @onclick="CreateCategory" Variant="Variant.Filled" Color="Color.Success">Add Category</MudButton>
    <MudTable Items="@Elements" Dense="true" Hover="true" CanCancelEdit="true" 
          @bind-SelectedItem="selectedItem" CommitEditTooltip="Commit Edit" RowEditPreview="BackupItem" RowEditCancel="ResetItemToOriginalValues"
          RowEditCommit="ItemHasBeenCommitted" ApplyBauttonPosition="@applyButtonPosition" EditButtonPosition="@editButtonPosition" EditTrigger="TableEditTrigger.EditButton"
    @ref="table"
              ServerData="@(new Func<TableState, Task<TableData<BackEndPizza.Models.Tables.Producs>>>(ServerReload))">
        <ToolBarContent>
            <MudText Typo="Typo.h6">Producs</MudText>
            <MudSpacer />
            <MudTextField T="string" ValueChanged="@(s=>OnSearch(s))" Placeholder="Search" Adornment="Adornment.Start"
                          AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
        </ToolBarContent>
        
    <ColGroup>
        @if (applyButtonPosition.DisplayApplyButtonAtStart() || (editButtonPosition.DisplayEditButtonAtStart() && editTrigger == TableEditTrigger.EditButton))
        {
            <col style="width:50px;" />
        }
        <col style="width:50%" />
            <col style="width:50%" />
        @if (applyButtonPosition.DisplayApplyButtonAtEnd() || (editButtonPosition.DisplayEditButtonAtEnd() && editTrigger == TableEditTrigger.EditButton))
        {
            <col style="width:50px;" />
        }
    </ColGroup>
        <HeaderContent>
            <MudTh>Name</MudTh>
            <MudTh>Price</MudTh>
            <MudTh>Category</MudTh>
        </HeaderContent>
    <RowTemplate>
            <MudTd DataLabel="Name">@context.Name</MudTd>
            <MudTd DataLabel="Price">@context.Price</MudTd>
            <MudTd DataLabel="Category">@context.CategoryProducts?.CategoryName</MudTd>
    </RowTemplate>
    <RowEditingTemplate>
            <MudTd DataLabel="Name">
                <MudTextField @bind-Value="@context.Name" Required />
             </MudTd>
             <MudTd DataLabel="Price"><MudNumericField @bind-Value="@context.Price" Required /></MudTd>
             <MudTd DataLabel="Category">
                <MudSelect T="int" Label="Category" AnchorOrigin="Origin.BottomCenter" @bind-Value="catId">
                    @foreach(var cat in CategoryProducts)
                    {
                        <MudSelectItem Value="@(cat.Id)">@cat.CategoryName</MudSelectItem>
                    }
                </MudSelect>
             </MudTd>
    </RowEditingTemplate>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
    <EditButtonContent Context="button">
        <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Outlined.Edit" Class="pa-0" OnClick="@button.ButtonAction" Disabled="@button.ButtonDisabled" />
    </EditButtonContent>
</MudTable>

</div>
 @code {
    private bool _hidePosition;
    private bool _loading;
    private string infoFormat = "{first_item}-{last_item} of {all_items}";
    private string searchString = null;
    private MudTable<BackEndPizza.Models.Tables.Producs> table;
    private IEnumerable<BackEndPizza.Models.Tables.Producs> Elements = new List<BackEndPizza.Models.Tables.Producs>();
    private int totalItems;
    private HashSet<BackEndPizza.Models.Tables.Producs> selectedItems = new HashSet<BackEndPizza.Models.Tables.Producs>();

    private List<string> editEvents = new();
    private BackEndPizza.Models.Tables.Producs elementBeforeEdit;
    private BackEndPizza.Models.Tables.Producs selectedItem = null;
    private TableApplyButtonPosition applyButtonPosition = TableApplyButtonPosition.End;
    private TableEditButtonPosition editButtonPosition = TableEditButtonPosition.End;
    private TableEditTrigger editTrigger = TableEditTrigger.RowClick;

    private IEnumerable<BackEndPizza.Models.Tables.CategoryProducts> CategoryProducts;
    private int catId = -1;

    private async Task<TableData<BackEndPizza.Models.Tables.Producs>> ServerReload(TableState state)
    {
        var products = data.GetItems().Include(z => z.CategoryProducts).ToList().Where(z => !string.IsNullOrWhiteSpace(z.Name) || z.Name.Contains(searchString ?? "", StringComparison.OrdinalIgnoreCase) );
        totalItems = products.Count();
        Elements = products.Skip(state.Page * state.PageSize).Take(state.PageSize).ToArray();
        return new TableData<BackEndPizza.Models.Tables.Producs>() { TotalItems = totalItems, Items = Elements };
    }
    private void OnSearch(string text)
    {
        searchString = text;
        table.ReloadServerData();
    }


    private async void OnButtonClicked(Models.Tables.Producs producs)
    {
        bool result = await DialogService.ShowMessageBox(
            "Warning",
            "Deleting can not be undone!",
            yesText: "Delete!", cancelText: "Cancel") ?? false;
        if(result)
        {
            var success = data.Delete(producs);
            ChangeSnack((result ? "Success " : "Error ") + producs.Name, Variant.Filled, result ? MudBlazor.Severity.Success : MudBlazor.Severity.Error);
            await table.ReloadServerData();
        }

        StateHasChanged();
    }

    private void ChangeSnack(string message, Variant variant, MudBlazor.Severity severity)
    {
        Snackbar.Add(message, severity, configure =>
        {
            configure.SnackbarVariant = variant;
            configure.VisibleStateDuration = 3000;
        });
    }
    private void BackupItem(object element)
    {
        elementBeforeEdit = new()
            {
                Name = ((Models.Tables.Producs)element).Name,
                Key = ((Models.Tables.Producs)element).Key,
                Description = ((Models.Tables.Producs)element).Description,
                Price = ((Models.Tables.Producs)element).Price,
                CategoryProductId = ((Models.Tables.Producs)element).CategoryProductId,
            };
        CategoryProducts = CategoryProductsService.GetItems();
    }

    private void ResetItemToOriginalValues(object element)
    {
        ((Models.Tables.Producs)element).Name = elementBeforeEdit.Name;
        ((Models.Tables.Producs)element).Key = elementBeforeEdit.Key;
        ((Models.Tables.Producs)element).Description = elementBeforeEdit.Description;
        ((Models.Tables.Producs)element).Price = elementBeforeEdit.Price;
        ((Models.Tables.Producs)element).CategoryProductId = elementBeforeEdit.CategoryProductId;
    }
    // to logger
    private async void ItemHasBeenCommitted(object element)
    {
        var result = validator.Validate((Models.Tables.Producs)element);

        Console.WriteLine(((Models.Tables.Producs)element).CategoryProductId);
        if (!result.IsValid)
        {
            ChangeSnack("Not validate product", Variant.Filled, MudBlazor.Severity.Error);
            return;
        }
        ((Models.Tables.Producs)element).CategoryProductId = catId == -1 ? null : catId;
        var resulted = data.Update((Models.Tables.Producs)element);
        ChangeSnack((resulted ? "Success " : "Error ") + ((Models.Tables.Producs)element).Name, Variant.Filled, resulted ? MudBlazor.Severity.Success : MudBlazor.Severity.Error);
        await table.ReloadServerData();
    }

    private async Task CreateCategory()
    {
        var resultName = await DialogService.Show<CreateDialogProducts>().Result;
        if(resultName.Cancelled)
            return;
        await table.ReloadServerData();
    }

}
